samplesheet: "/home/lingyi/samplesheets/samplesheet_antarctica.txt"

############
# Trimming #
############
FASTP:


############
# Assembly #
############
SPADES:
    threads: 92
    k: [21,33,55,77,99,127]

############
# Scaffolds Length Filtering #
############
SEQTK:
    length: 1500

############
# WTP #
############
WTP:
    workdir: results/wtp/workdir
    databases: /net/phage/linuxhome/mgx/people/lingyi/wtp_databases
    cachedir: /home/lingyi/singularity_images
    outputdir: results/wtp/output
    threads: 92
    identify: true
    annotate: false
    dv: false
    ma: false
    mp: false
    pp: false
    sm: false
    vb: false
    vf: false
    vn: false
    vs: false
    ph: false
    vs2: false
    sk: false


############
# TRANSEQ #
############
TRANSEQ:
    frame: 6
    threads: 92

############
# HMMSEARCH #
############
HMMSEARCH:
    threads: 92
    viral_hmms: data/hmms/checkv_viral.hmm
    microbial_hmms: data/hmms/checkv_microbial.hmm

############
# CAT #
############
CAT:
    threads: 92
    database: /net/phage/linuxhome/mgx/people/bastiaan/CAT_prepare/CAT_prepare_20210430/CAT_database.2021-04-30
    taxonomy: /net/phage/linuxhome/mgx/people/bastiaan/CAT_prepare/CAT_prepare_20210430/CAT_taxonomy.2021-04-30
    path_to_diamond: /net/phage/linuxhome/mgx/people/bastiaan/CAT_prepare/CAT_prepare_20210430/Diamond_2.0.9/diamond
    
############
# BWA #
############
BWA:
    threads: 92
